div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
table td{
  padding: 30px;
  vertical-align: top;
  min-width: 100px;
}
body, #root{
  font-family: 'Nunito', sans-serif;
}
.driver-app button{
  padding: 5px 20px;
  font-weight: bold;
  cursor: pointer;
}